/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* common styles */
body {
    margin:0;
}
header {
    font-family: 'Poppins', sans-serif;
}
main {
    font-family: 'Poppins', sans-serif;
}


/* header */

.header {
    background-color:#2d25a0;
    height:677px;
    width:100%;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap:186px;
    margin-bottom:70px;
    overflow:hidden;
}
.copa-america {
    color:white;
    display:flex;
    flex-direction: column;
    margin-left:156px;
    margin-top:165px;
}
.copa-america h1 {
    font-size:64px;
    margin-bottom:11px;
    margin-top:0;
}
.copa-america p {
    width:128px;
    height:24px;
    font-size:16px;
    background-color:#E02C6D;
    padding:20px 10px 20px 30px;
    overflow:hidden;
}
.header:hover p {
    transform: scale(1.3);
    transition:transform 2s;
}
.banner img {
    width:556px;
    height:438px;
    margin-top:135px;
}
/* players styles  */
.players {
    margin-left:180px;
    margin-right:210px;
    margin-bottom:150px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:30px;
    grid-row-gap:27px;
}
.player {
    width:330px;
    height:474px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-image {
    width:300px;
    height:256px;
    padding:15px 15px 15px 15px;
}
.player-name {
    font-size:28px;
    font-weight: 700;
    margin-left:15px;
}
.player-description {
    color:#6C6C6C;
    font-size: 16px;
    font-weight: 400;
    margin-left:15px;
}
/* website partner styles */
.website-partner {
    height:350px;
    margin-bottom:100px;
    background-color: tomato;
}

.heading {
    font-size:100px;
    text-align:center;
}
.partner-logo {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-size:100px;
    transition:transform 2s;
    overflow: hidden;
}
.website-partner:hover .partner-logo {
    transform:scale(1.4);
}
/* also visit styles */
.also-visit {
    background-color: tomato;
    width:100%;
}
.links {
    display:flex;
    flex-direction: column;
    margin-bottom:100px;
}
.links a {
    text-decoration:none;
    color:darkblue;
    font-size:60px;
    text-align:center;
}
.links a:hover {
    background-color:cyan;
}
/* footer styles */
footer {
    width:483.87px;
    height:213px;
    position:relative;
    left:35%;
}
.footer-image img{
    width:100%;
}
.footer-icons {
    width:170px;
    height:32px;
    display:flex;
    align-items:flex-start;
    margin-left:156.94px;
    margin-bottom:10px;
}
.footer-icons img {
    margin-left:14px;
    margin-right:14px;
    width:32px;
    height:32px;
    margin-bottom:10px;
}
.copyright {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size:18px; 
    margin-left:160px;
}

/* media queries */

/* mobile devices */
@media only screen and (max-width:688px) {
    /* header styles change */
    .header {
        height: 900px;
        width:100%;
        grid-template-columns: repeat(1, 0.2fr);
    }
    .copa-america {
        margin-top:50px;
        margin-left:30%;
        margin-bottom:0;
    }
    .copa-america h1 {
        font-size:36px;
    }
    .banner img {
        margin-top:0;
        margin-left:30%;
        width:90%;
    }
    /* players styles change */
    .players {
        grid-template-columns: repeat(1, 1fr);
        margin-left:5%;
        width:100%;
    }
    .player {
        width:90%;
        height:550px;
    }
    .player-image {
        width:80%;
        margin-left:3%;
    }
    .player-name {
        margin-left:8%;
    }
    .player-description {
        margin-left:8%;
        margin-right:8%;
    }
    
    /* website partner styles change */
    .website-partner {
        height:600px;
        width:100%;
    }
    .heading{
        font-size:50px;
        margin-left:2%;
    }
    .partner-logo {
        flex-direction: column;
    }
    /* also visit styles change */
    .also-visit {
        width:100%;
    }
    .links a {
        font-size:20px;
    }
    /* footer styles change*/
    footer {
        position:static;
        margin-left:22%;
        width:50%;
    }
    .footer-icons {
        margin-left:0;
        margin-bottom:10px;

    }
    .footer-icons img {
        margin-left:3%;
    }
    .copyright {
        margin-left:30px;
        font-size:10px;
    }
}
