/* font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles */
body {
    margin:0;
}
header {
    font-family: 'Poppins', sans-serif;
}


/* header */

.header {
    background-color:#2d25a0;
    height:677px;
    width:100%;
    display:flex;
    align-items: center;
    margin-bottom:70px;
    overflow:hidden;
}
.header:hover {
    background-color:brown;
    transform:scale(1.1);
    transition:transform 1s ease-in-out;
}
.copa-america {
    color:white;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    margin-left:156px;
}
.copa-america h1 {
    font-size:64px;
}
.copa-america p {
    width:168px;
    height:44px;
    font-size:16px;
    font-family: 'Poppins', sans-serif;
    background-color:#E02C6D;
    padding:40px 10px 28px 70px;
}

.banner img {
    width:388px;
    height:428px;
}
/* players styles  */
.players {
    margin-left:180px;
    margin-right:210px;
    margin-bottom:150px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:30px;
    grid-row-gap:27px;
}
.player {
    width:330px;
    height:474px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-image {
    width:300px;
    height:256px;
    padding:15px 15px 15px 15px;
}
.player-name {
    font:28px;
    font-weight: 700;
    margin-left:15px;
}
.player-description {
    font-size: 16px;
    font-weight: 400;
    margin-left:15px;
}
/* website partner styles */
.website-partner {
    height:350px;
    margin-bottom:100px;
    background-color: tomato;
}

.heading {
    font-size:100px;
    text-align:center;
}
.partner-logo {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-size:100px;
    transition:transform 2s;
    overflow: hidden;
}
.website-partner:hover .partner-logo {
    transform:scale(1.4);
}
/* also visit styles */
.links {
    display:flex;
    flex-direction: column;
    background-color:white;
    margin-bottom:100px;
}
.links a {
    text-decoration:none;
    color:black;
    font-size:60px;
    text-align:center;
}
.links a:hover {
    background-color:cyan;
}
/* footer styles */
footer {
    width:483.87px;
    height:213px;
    position:relative;
    left:475px;
}
.footer-image img{
    width:100%;
}
.footer-icons {
    width:170px;
    height:32px;
    display:flex;
    align-items:flex-start;
    margin-left:156.94px;
    margin-bottom:10px;
}
.footer-icons img {
    margin-left:14px;
    margin-right:14px;
    width:32px;
    height:32px;
    margin-bottom:10px;
}
.copyright {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size:18px; 
    margin-left:160px;
}